body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f0fff4;
    text-align: center;
}

header {
    background: #2ecc71;
    color: white;
    padding: 20px;
}

#quiz, #resultado {
    padding: 30px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 12px;
    width: 60%;
    background: #27ae60;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
